{deps, [{cowboy, ".*", {git, "git://github.com/voxoz/cowboy2", []}},
        {active, ".*", {git, "git://github.com/synrc/active",  []}},
        {nitro,  ".*", {git, "git://github.com/synrc/nitro",   []}},
        {syn,    ".*", {git, "git://github.com/ostinelli/syn",     []}},
        {n2o,    ".*", {git, "git://github.com/synrc/n2o",     []}},
        {rocsdb, ".*", {git, "git://github.com/enterprizing/rocksdb", []}},
        {kvs,    ".*", {git, "git://github.com/synrc/kvs",     []}}
       ]}.

{shell,
 [{config, "sys.config"},
  {apps, [sample]}]}.
