[
 {n2o, [{port,8001},
        {app,sample},
        {upload,"./priv/static/"},
        {routes,routes},
        {mq,n2o_gproc},
        {formatter,n2o_bert},
        {protocols,[n2o_heart,n2o_nitro,n2o_ftp]},
        {log_modules,[index,login,routes]},
        {session,n2o_session},
        {origin,<<"*">>},
        {pickler,n2o_secret},
        {event,pickle}]},
 {kvs, [{dba,store_mnesia},
        {schema, [kvs_user, kvs_acl, kvs_feed, kvs_subscription ]} ]}
].
